{% import "bootstrap/wtf.html" as wtf %}
{% from 'macros/generate_vuln_table.html' import display_vuln_column %}

{% extends "base.html" %}


{% block main_content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center">My Profile</h2>
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-8 offset-md-2">
        <div class="card my-3">
            <div class="card-body">
              <div class="form-group">
                <label class="control-label">Login</label>
                <span class="form-control-plaintext">{{user.login}}</span>
                <small class="form-text text-muted">Only you can see this.</small>
                <small class="form-text text-muted">Provider: {{ user.login_type | title }}</small>
              </div>
              <form method="POST" name="terms_form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {% for field in form.non_hidden_fields %}
                  {{ wtf.form_field(field) }}
                {% endfor %}

                <button type="submit" class="btn btn-success">Save</button>
                <a href="{{ url_for("profile.user_profile", user_id=user.id) }}">See public version</a>
              </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2 d-flex justify-content-center">
        <div class="card my-3">
            <div class="card-header">
              Public Appearance
            </div>
            <div class="card-body d-flex flex-column align-items-center">
              {% if user.avatar %}
                <img src="{{ user.avatar_resized(96) }}" alt="profile picture" class="img-thumbnail avatar_profile">
              {% endif %}
              <span>{{ user.name }}</span>
            </div>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-8 offset-md-2">
        <div class="card my-3">
            <div class="card-body">
                <h3 class="card-title">Contributions</h3>
                <ul>
                {%- for vuln in vulns %}
                  <li>
                    <a href="{{ url_for('vuln.vuln_view', vcdb_id=vuln.cve_id) }}">{{ vuln.cve_id }}</a>
                    ({{ display_vuln_column(vuln, 'state') }})
                  </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
