-r vcs_requirements.txt
# 'MySQLdb' dependency.
mysqlclient>=1.4.2
# Main Flask related dependencies.
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
flask-marshmallow==0.10.1
Flask-Migrate>=2.2.1
Flask-OAuthlib==0.9.5
# Pin this until https://github.com/lepture/flask-oauthlib/pull/388 is released
requests-oauthlib>=0.6.2,<1.2.0
Flask-Script>=2.0.6
Flask-SQLAlchemy>=2.4.0
# Not in use due to a problem when matching against multiple fulltext columns with a joined table.
# SQLAlchemy-FullText-Search==0.2.5
Flask-WTF>=0.14.2
marshmallow-sqlalchemy==0.17.0
google-auth==1.6.1
# Flask-debugtoolbar requirements -------
flask-debugtoolbar>=0.10.1
setuptools>=40.6.3
sqlparse==0.3.0
pygments==2.4.2
pandas==0.25.1
colorama>=0.4.1
# Provides a WSGI werkzeug server alternative.
#gevent==1.4.0
# Required to make Flask's jsonify work with decimal numbers.
simplejson>=3.16.0
# ---------------------------------------
# Misc. requirements
sqlakeyset==0.1.1559103842
