{% from "macros/user.html" import print_user %}
{% extends "base.html" %}
{% block main_content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center">Users ({{ users.total }} total)</h2>
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-8 offset-md-2">
        <div class="card">
            <div class="card-body">
              <!-- Search box -->
              <form class="form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="name" placeholder="Name/E-Mail/..." value="{{ filter }}">
                  <div class="input-group-append">
                    <button class="btn btn-md btn-outline-primary m-0 px-3 py-2 waves-effect" type="submit">Search</button>
                 </div>
                </div>
              </form>
              <!-- Pagination -->
              <nav aria-label="Pagination">
                <ul class="pagination pg-dark">
                  <li class="page-item {% if not users.has_prev %}disabled{% endif %}"><a class="page-link" href="{{ url_for('admin.users', page=users.prev_num, per_page=users.per_page) }}">Previous</a></li>
                  {%- for page in users.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
                    {% if page %}
                    <li class="page-item {% if page == users.page %}active{% endif%}">
                      <a class="page-link" href="{{ url_for('admin.users', page=page, per_page=users.per_page) }}">{{ page }}</a>
                      {# else %}
                      <span class=ellipsis>…</span>
                      {%- endif #}
                    </li>
                    {% else %}
                    <li class="page-item">...</li>
                    {% endif %}
                  {%- endfor %}
                  <li class="page-item {% if not users.has_next %}disabled{% endif %}"><a class="page-link" href="{{ url_for('admin.users', page=users.next_num, per_page=users.per_page) }}">Next</a></li>
                </ul>
              </nav>
              <form method="post" class="form-inline" id="users-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <!-- batch actions -->
                <div class="mb-3">
                  <select class="form-control" id="action" name="action">
                    <option value="">---</option>
                    <option value="assign">Assign role</option>
                    <option value="unassign">Unassign role</option>
                    <option value="delete">Delete</option>
                    <option value="block">Block</option>
                    <option value="enable">Enable</option>
                    <option value="state">Force State</option>
                  </select>
                  <select class="form-control" id="roles" name="role" style="display: none">
                    <option>---</option>
                    {% for role in roles %}
                    <option value="{{role.id}}">{{role}}</option>
                    {% endfor %}
                  </select>
                  <select class="form-control" id="states" name="state" style="display: none">
                    <option>---</option>
                    {% for state in states %}
                    <option value="{{state.name}}">{{state.name}}</option>
                    {% endfor %}
                  </select>
                  <button class="btn btn-danger btn-sm" id="delete-btn" style="display: none" type="button" data-toggle="modal" data-target="#confirmDelete">Delete</button>
                  <button class="btn btn-danger btn-sm" id="block-btn" style="display: none">Block</button>
                  <button class="btn btn-success btn-sm" id="enable-btn" style="display: none">Enable</button>
                  <button class="btn btn-primary btn-sm" id="save-btn" style="display: none">Save</button>
                </div>
                <!-- User table -->
                <table id="users-table" class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col"><input id="global-checkbox" type="checkbox"></th>
                      <th scope="col">ID</th>
                      <th scope="col">Type</th>
                      <th scope="col">Username</th>
                      <th scope="col">State</th>
                      <th scope="col">Roles</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users.items %}
                    <tr>
                      <td scope="row"><input type="checkbox" name="user" value="{{ user.id }}"></td>
                      <td>{{ user.id }}</td>
                      <td>{{ user.login_type.name }}</td>
                      <td>{{ print_user(user) }}</td>
                      <td>{{ user.state.name }}</td>
                      <td>{{ user.roles|join(', ') }}</td>
                      <td>
                        <button class="btn btn-danger" type="button" data-action="delete" data-user="{{ user.id }}">Delete</button>
                        {% if user.is_enabled() %}
                        <button class="btn btn-danger" type="button" data-action="block" data-user="{{ user.id }}">Block</button>
                        {% else %}
                        <button class="btn btn-success" type="button" data-action="enable" data-user="{{ user.id }}">Enable</button>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- Delete confirmation modal -->
                <div class="modal fade" id="confirmDelete" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Please confirm the deletion.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
<script>
  (function() {
    const globalBox = document.getElementById('global-checkbox');
    const usersForm = document.getElementById('users-form');
    const actionSelect = document.getElementById('action');
    const rolesSelect = document.getElementById('roles');
    const statesSelect = document.getElementById('states');
    const saveBtn = document.getElementById('save-btn');
    const deleteBtn = document.getElementById('delete-btn');
    const blockBtn = document.getElementById('block-btn');
    const enableBtn = document.getElementById('enable-btn');
    const boxes = document.getElementById('users-table').querySelectorAll('td > [type=checkbox]');
    const btns = [saveBtn, deleteBtn, enableBtn, blockBtn];

    globalBox.addEventListener('change', function() {
      const state = this.checked;
      for (const box of boxes) {
        box.checked = state;
      }
    });

    actionSelect.addEventListener('change', function() {
      roles.style.display = 'none';
      for (const btn of btns) {
        btn.style.display = 'none';
      }
      if (this.value === 'assign' || this.value === 'unassign') {
        roles.style.display = null;
      } else if (this.value === 'delete') {
        deleteBtn.style.display = null;
      } else if (this.value === 'enable') {
        enableBtn.style.display = null;
      } else if (this.value === 'block') {
        blockBtn.style.display = null;
      } else if (this.value === 'state') {
        statesSelect.style.display = null;
      } else {
        roles.value = '---';
      }
    });

    function enableSaveBtn() {
      for (const btn of btns) {
        btn.style.display = 'none';
      }
      if (this.value !== '---') {
        saveBtn.style.display = null;
      }
    }

    rolesSelect.addEventListener('change', enableSaveBtn);
    statesSelect.addEventListener('change', enableSaveBtn);

    const deleteButtons = document.querySelectorAll('[data-action="delete"]');
    for(const btn of deleteButtons) {
      btn.addEventListener('click', (ev) => {
        const btn = ev.target;
        const userId = btn.dataset.user;
        const user = document.createElement('input');
        user.type = 'hidden';
        user.name = 'user';
        user.value = userId;
        const action = document.createElement('input');
        action.type = 'hidden';
        action.name = 'action';
        action.value = 'delete';
        usersForm.appendChild(user);
        usersForm.appendChild(action);

        $('#confirmDelete').on('hidden.bs.modal', function handler() {
          usersForm.removeChild(user);
          usersForm.removeChild(action);
          $('#confirmDelete').off('hidden.bs.modal', handler);
        }).modal('show');
      });
    }

    const userButtons = document.querySelectorAll('[data-action="block"],[data-action="enable"]');
    for(const btn of userButtons) {
      btn.addEventListener('click', (ev) => {
        const btn = ev.target;
        const userId = btn.dataset.user;
        const user = document.createElement('input');
        user.type = 'hidden';
        user.name = 'user';
        user.value = userId;
        const action = document.createElement('input');
        action.type = 'hidden';
        action.name = 'action';
        action.value = btn.dataset.action;
        usersForm.appendChild(user);
        usersForm.appendChild(action);
        usersForm.submit();
      });
    }
  })();
</script>
{% endblock %}
