{% from 'macros/products.html' import print_product_links %}
{% from 'macros/user.html' import print_user %}
{% set default_vuln_columns = ['date', 'id', 'summary', 'products', 'score', 'patch'] %}
{% set default_vuln_columns_full = default_vuln_columns + ['annotated'] %}

{% macro display_vuln_column(vuln_view, column) %}
  {% if column == "date" %}
  <span style="white-space: nowrap">
    {{ vuln_view.date_created }}
  </span>
  {% endif %}

  {% if column == "id" %}
  <span style="white-space: nowrap">
    {{ vuln_view.id or "N/A" }}
  </span>
  {% endif %}

  {% if column == "state" %}
    {% if vuln_view.state.name == 'NEW' %}
      <span class="badge badge-light">New</span>
    {% elif vuln_view.state.name == 'NEEDS_IMPROVEMENT' %}
      <span class="badge badge-danger">Needs improvement</span>
    {% elif vuln_view.state.name == 'READY' %}
      <span class="badge badge-info">Searching reviewer</span>
    {% elif vuln_view.state.name == 'IN_REVIEW' %}
      <span class="badge badge-warning">Being reviewed</span>
    {% elif vuln_view.state.name == 'REVIEWED' %}
      <span class="badge badge-success">Reviewed</span>
    {% elif vuln_view.state.name == 'PUBLISHED' %}
      <span class="badge badge-primary">Published</span>
    {% elif vuln_view.state.name == 'ARCHIVED' %}
      <span class="badge badge-dark">Archived</span>
    {% else %}
      Unknown
    {% endif %}
  {% endif %}

  {% if column == "creator" %}
    {{ print_user(vuln_view.creator) }}
  {% endif %}

  {% if column == "summary" %}
    {{ vuln_view.comment | truncate(500) if vuln_view.comment else "N/A" }}
  {% endif %}

  {% if column == "products" %}
    {% if vuln_view.products %}
      {{ print_product_links(vuln_view.products) }}
    {% else %}
      N/A
    {% endif %}
  {% endif %}

  {% if column == "score" %}
    {% if vuln_view.score %}
      {{ '%0.1f' % vuln_view.score }}
    {% else %}
      N/A
    {% endif %}
  {% endif %}

  {% if column == "patch" %}
    {% if vuln_view.master_commit is not none %}
      <i class="fa fa-check" style="color: #00FF00"></i>
    {% else %}
      <i class="fa fa-times" style="color: #FF0000"></i>
    {% endif %}
  {% endif %}

  {% if column == "annotated" %}
    {% if vuln_view.annotated %}
      <i class="fa fa-check" style="color: #00FF00"></i>
    {% else %}
      <i class="fa fa-times" style="color: #FF0000"></i>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro display_vuln_table(items, table_id, columns, url_endpoint='vuln.vuln_view') %}
  {% set columns = columns|default(default_vuln_columns, True) %}
  {% if not items or items is not iterable or items|length == 0 %}
    No results found.
  {% else %}
    <div class="table-responsive">
      <table class="table table-hover table-light" id="{{ table_id }}_tbl">
        <thead>
        <tr>
          {% for column in columns %}
            <th><b>{{ column.capitalize() }}</b></th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for vuln_view in items %}
          <tr class="clickable-row" data-href="{{
          url_for_no_querystring(url_endpoint, vcdb_id=vuln_view.id, vuln_id=vuln_view.vuln_id) }}">
            {% for column in columns %}
            <td>
              {{ display_vuln_column(vuln_view, column) }}
            </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endmacro %}
