{% macro show_progress_statusbar(vuln_view) %}
    {% set current_state = vuln_view.state.name %}
    {% set active_step = 1 %}
    {% set next_step = '' %}

    {% if current_state == 'NEW' %}
        {% set active_step = 1 %}
        {% set next_step = 'submit for review.' %}
    {% elif current_state == 'NEEDS_IMPROVEMENT' %}
        {% set active_step = 2 %}
        {% set next_step = 'address given feedback.' %}
    {% elif current_state == 'READY' %}
        {% set active_step = 3 %}
        {% set next_step = 'wait until we find a reviewer.' %}
    {% elif current_state == 'IN_REVIEW' %}
        {% set active_step = 4 %}
        {% set next_step = 'wait for review to complete.' %}
    {% elif current_state == 'REVIEWED' %}
        {% set active_step = 5 %}
        {% set next_step = 'wait for admin approval.' %}
    {% elif current_state == 'PUBLISHED' %}
        {% set active_step = 6 %}
        {% set next_step = 'this version is live!' %}
    {% elif current_state == 'ARCHIVED' %}
        {% set active_step = 7 %}
        {% set next_step = 'this is an archived version.' %}
    {% endif %}
    <!-- Horizontal Steppers -->
    <div class="row">
        <div class="col-md-12">
            <ul class="stepper stepper-horizontal">

                <!-- Submission step -->
                <li class="{% if active_step >= 3 %}completed{% else %}active{% endif %}">
                    <a href="#!">
                        <span class="circle">{% if active_step >= 3 %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-paper-plane"></i>{% endif %}</span>
                        <span class="label d-block">Submission</span>
                        {% if active_step < 3 %}<span class="label">Please {{ next_step }}</span>{% endif %}
                    </a>
                </li>
    
                <!-- Review step -->
                <li class="{% if active_step >= 5 %}completed{% elif active_step >= 3 and active_step <= 5 %}active{% endif %}">
                    <a href="#!">
                        <span class="circle">{% if active_step >= 5 %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-clipboard-check"></i>{% endif %}</span>
                        <span class="label d-block">Review</span>
                        {% if active_step >= 3 and active_step < 5 %}<span class="label">Please {{ next_step }}</span>{% endif %}
                    </a>
                </li>
    
                <!-- Publication step -->
                <li class="{% if active_step >= 6 %}completed{% elif active_step == 5 %}active{% endif %}">
                    <a href="#!">
                        <span class="circle">{% if active_step >= 6 %}<i class="fas fa-check"></i>{% else %}<i class="far fa-check-circle"></i>{% endif %}</span>
                        <span class="label d-block">Publication</span>
                        {% if active_step == 5 %}
                            <span class="label">Please {{ next_step }}</span>
                        {% elif active_step > 5 %}
                            <span class="label">Complete - {{ next_step }}</span>
                        {% endif %}
                    </a>
                </li>
    
            </ul>
        </div>
    </div>
{% endmacro %}