{% extends "base.html" %}
{% block title %}{{ product|title }}{% endblock %}
{% block main_content %}
<div class="row my-3">
    <div class="col-sm-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Product:
                    <p class="text-info d-inline">
                        <b>{{ product|title }}</b>
                    </p>
                    <small>({{ vendor|title }})</small>
                </h5>

                <div class="table-responsive">
                    <table class="table table-hover table-dark mb-0">
                        <tr>
                            <td style="width: 7%"><b>Repositories</b></td>
                            <td>
                                {% if repo_urls|length == 0 %}
                                    <b><p class="text-warning d-inline">Unknown:</p></b>
                                    <p class="d-inline">This might be proprietary software.</p>
                                {% else %}
                                    {% from 'macros/text_format.html' import print_formatted %}
                                    {{ print_formatted(repo_urls, 'products') }}
                                    {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 7%"><b>#Vulnerabilities</b></td>
                            <td>
                                {{ number_vulns }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% set columns = ['date', 'id', 'summary', 'products', 'score', 'patch', 'annotated'] %}
                {% from 'macros/generate_vuln_table.html' import display_vuln_table, default_vuln_columns_full %}
                {% from 'macros/pagination.html' import display_nvd_pagination %}
                <div id="vulnEntries">
                    {{ display_vuln_table(product_vulns.rows, 'product', default_vuln_columns_full) }}
                    {{ display_nvd_pagination(product_vulns, 'product', '') }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}