<div id="editor"></div>
<div id="editor_theme" class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="theme_selection" id="vs-dark" autocomplete="off" checked>VS-Dark
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="theme_selection" id="vs-bright" autocomplete="off">VS-Bright
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="theme_selection" id="monokai" autocomplete="off">Monokai
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="theme_selection" id="darcula" autocomplete="off">Darcula
  </label>
</div>