{#
<div class="table-responsive">
  <table class="table table-hover table-light">
    {% macro print_key_value_row(key, value) -%}
    <tr><td>{{key}}</td><td><b>{{value}}</b></td></tr>
    {%- endmacro %}
    {{print_key_value_row("Loaded CVE-entries", vcdb.number_cve_entries)}}
    {{print_key_value_row("Entries with a known patch link", vcdb.number_cve_with_patches | string + ' (%0.2f%%)' % (vcdb.number_cve_with_patches / vcdb.number_cve_entries * 100))}}
  </table>
</div>
#}

{% macro render_pagination(pagination, endpoint, table_id) %}
{% set page_num = table_id + '_p' %}
<nav aria-label="Pagination">
    {{(pagination.page - 1) * pagination.per_page + 1}}-{{(pagination.page - 1) * pagination.per_page + pagination.items | length}} of <b>{{pagination.total}} entries</b>

  <ul class="pagination">
      <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for(endpoint,  **{page_num:pagination.prev_num, "_anchor":table_id + "_tbl"}) }}" tabindex="-1">Previous</a>
      </li>

      {% for p in pagination.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
        {% if p %}
          {% if p != pagination.page %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, **{page_num:p, "_anchor":table_id + "_tbl"}) }}">{{ p }}</a>
          </li>
          {% else %}
          <li class="page-item active">
            <a class="page-link" href="{{ url_for(endpoint, **{page_num:p, "_anchor":table_id + "_tbl"}) }}">{{ p }}</a>
          </li>
          {% endif %}
        {% else %}
          <li class="page-item disabled">
            <span class="page-link ellipsis">&hellip;</span>
          </li>
        {% endif %}
      {% endfor %}

      <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for(endpoint, **{page_num:pagination.next_num, "_anchor":table_id + "_tbl"}) }}">Next</a>
      </li>

  </ul>
</nav>
{% endmacro %}

{% macro display_paginated_table(pagination_obj, table_id) %}
<div class="table-responsive">
  <table class="table table-hover table-light" id="{{ table_id }}_tbl">
    <thead>
    <tr>
      <th>Date</th>
      <th>CVE</th>
      <th>Summary</th>
      <th>Products</th>
      <th>Score</th>
      <th>Patch</th>
      <th>OSS</th>
    </tr>
    </thead>
    <tbody>
    {% for vuln_view in pagination_obj.items %}
        <tr class="clickable-row" data-href="{{ url_for('vuln.vuln_view', vuln_id=vuln_view.id) }}">
        <td>
          {{ vuln_view.date_created }}
        </td>
        <td>{{ vuln_view.cve_id or "N/A" }}</td>
        <td>{{ vuln_view.comment | truncate(500) or "N/A" }}</td>
        <td>{{ vuln_view.products or "N/A" }}</td>
        <td>
          {% if vuln_view.score %}
            {{ '%0.1f' % vuln_view.score }}
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>
          {% if vuln_view.has_patch %}
            <i class="fa fa-check" style="color: #00FF00"></i>
          {% else %}
            <i class="fa fa-times" style="color: #FF0000"></i>
          {% endif %}
        </td>
        <td><i class="fa fa-question" style="color: #777777"></i></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{{ render_pagination(pagination_obj, 'serve_index', table_id) }}
{% endmacro %}

VCDB Entries:
{{ display_paginated_table(vcdb.vcdb_pagination, 'vcdb') }}
<hr />
NVD Entries (remaining):
{{ display_paginated_table(vcdb.nvd_pagination, 'nvd') }}

