<div class="card my-3">
  <div class="card-body">
    <div class="form-group">
      <h4 class="mb-0"><label class="mb-0" for="searchKeyword">Search</label></h4>
      <input type="search" class="form-control border-primary" id="searchKeyword" placeholder="CVE-ID/Product/File" value="{{ vcdb.keyword or '' }}">
    </div>

    {#
    <div class="table-responsive">
      <table class="table table-hover table-light">
        {% macro print_key_value_row(key, value) -%}
          <tr><td>{{key}}</td><td><b>{{value}}</b></td></tr>
        {%- endmacro %}
        {{print_key_value_row("Loaded CVE-entries", vcdb.number_cve_entries)}}
        {{print_key_value_row("Entries with a known patch link", vcdb.number_cve_with_patches | string + ' (%0.2f%%)' % (vcdb.number_cve_with_patches / vcdb.number_cve_entries * 100))}}
      </table>
    </div>
    #}
    {% include 'list_vuln_entries.html' %}

    {#
    This part won't be used until public contributions are enabled.
    <div id="top_contributors">
      <h3>TOP 10 contributors</h3>
        <div class="table-responsive">
          <table class="table table-hover table-dark">
            <tr>
              <th>#</th>
              <th>User</th>
              <th># Annotations</th>
            </tr>
            {% for user, num_comments, num_markers in vcdb.top_contributors %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>@{{ user.name }}</td>
              <td>{{ num_comments + num_markers }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    #}

  </div>
</div>
