{% from 'macros/generate_vuln_table.html' import display_vuln_table %}
{% from 'macros/pagination.html' import display_vuln_pagination, display_nvd_pagination %}
<div id="vulnEntries">
  Main entries <b>~{{vcdb.vcdb_pagination.total}} </b>:
  {{ display_vuln_table(vcdb.vcdb_pagination.rows, 'vcdb', vcdb.keyword) }}
  {{ display_nvd_pagination(vcdb.vcdb_pagination, 'vcdb', vcdb.keyword) }}
  Remaining NVD entries (unprocessed / no code available): <b>~{{vcdb.nvd_pagination.total}} </b>:
  {{ display_vuln_table(vcdb.nvd_pagination.rows, 'nvd', vcdb.keyword) }}
  {{ display_nvd_pagination(vcdb.nvd_pagination, 'nvd', vcdb.keyword) }}
</div>

