{% extends "login.html" %}
{% block login_extra %}
  Please choose the admin (specified as APPLICATION_ADMINS in app.yaml) or other roles for login:<br />
  {% if users|length == 0 %}
  <b>Please add APPLICATION_ADMINS to your app.yaml and restart the application.</b>
  {% else %}
  {% for user in users %}
  - <a href="{{ url_for('auth.login', as_user=user) }}">{{user}}</a><br />
  {% endfor %}
  - <a href="{{ url_for('auth.login', as_user='user@vulncode-db.com') }}">user@vulncode-db.com</a><br />
  - <a href="{{ url_for('auth.login', as_user='reviewer@vulncode-db.com') }}">reviewer@vulncode-db.com</a><br />
  <br />

  <h3>Normal OAuth</h3>
  (make sure to set <b>OAUTH_CONSUMER_KEY</b> and <b>OAUTH_CONSUMER_SECRET</b> in app.yaml)<br />
  {% endif %}
{% endblock %}
