<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Vulncode-DB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {# TODO active TODO #}">
        <a class="nav-link" href="/">
          <button type="button" class="btn btn-dark navbar-btn">
            Home
          </button>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav mt-2 mt-md-0">
      <li class="nav-item">
        {% if g.user %}
      <li>
        <span class="navbar-brand">
        {% if g.user.profile_picture %}
          <img src="{{ g.user.profile_picture_resized(30) }}" class="avatar_small d-inline-block align-top">
        {% endif %}
          <a href="{{ url_for("profile.index") }}">{{ g.user.full_name }}</a>
        </span>
      </li>
      {% if is_admin() %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="adminDropdown">
          <a class="dropdown-item" href="{{ url_for("admin.users") }}">Users</a>
          <a class="dropdown-item" href="{{ url_for("admin.invite_codes") }}">Invites</a>
        </div>
      </li>
      {% endif %}
      {% if is_reviewer() %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('review.list') }}">
          <button type="button" class="btn btn-dark navbar-btn">
            Review

            {% set num_publishing_pending = vuln_helper.get_num_proposals_publishing_pending() %}
            {% if num_publishing_pending > 0 %}
            <span class="badge badge-success">{{ num_publishing_pending }}</span>
            {% endif %}

            {% set num_unassigned = vuln_helper.get_num_proposals_unassigned() %}
            {% set num_unassigned_to_self = vuln_helper.get_num_proposals_assigned_to(g.user) %}
            {% set num_actionable = num_unassigned + num_unassigned_to_self %}
            {% if num_actionable > 0 %}
            <span class="badge badge-danger">{{ num_actionable }}</span>
            {% endif %}

            {% set num_assigned_to_others = vuln_helper.get_num_proposals_assigned() - num_unassigned_to_self %}
            {% if num_assigned_to_others > 0 %}
            <span class="badge badge-light">{{ num_assigned_to_others }}</span>
            {% endif %}
          </button>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile.view_proposals') }}">
          <button type="button" class="btn btn-dark navbar-btn">
            Proposals
            {% set num_proposals_action_required = vuln_helper.get_num_proposals_action_required(g.user) %}
            {% if num_proposals_action_required > 0 %}
            <span class="badge badge-danger">{{ num_proposals_action_required }}</span>
            {% endif %}

            {% set num_proposals_pending = vuln_helper.get_num_proposals_pending(g.user) %}
            {% if num_proposals_pending > 0 %}
            <span class="badge badge-light">{{ num_proposals_pending }}</span>
            {% endif %}
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">
          <button type="button" class="btn btn-dark navbar-btn">
            Logout
          </button>
        </a>
      </li>
      {% else %}
      <a class="nav-link" href="{{ url_for('auth.login') }}">
        <button type="button" class="btn btn-dark navbar-btn">
          Login
        </button>
      </a>
      {% endif %}
      </li>
    </ul>
    <!--
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->

  </div>
</nav>
