<div id="main_container">
  <!-- Head navigation -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link navbar-brand" id="embed_file_path" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">[REPO _ TBA]</a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">Options</a>
      </li>
    </ul>
  </nav>
  <!-- Show section in editor -->
  <div id="editor"></div>
  <!-- Footer navigation -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Vulncode-DB entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">(view raw GitHub)</a>
      </li>
    </ul>
  </nav>
</div>