<div id="bodyContent" class="mw-body-content">
    <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
        <div class="mw-parser-output">
            <center>
                <b>Vulncode-DB's Terms of Use is fully based upon <a
                        href="https://foundation.wikimedia.org/wiki/Terms_of_Use/en">Wikimedia's - Terms of Use</a></b><br/>
                <p>This is a summary of the Terms of Use. To read the full terms, scroll down or <a
                        href="#Our_Terms_of_Use" class="mw-redirect" title="Terms of Use">click here</a>.</p></center>
            <div style="width: 75%; background-color: #F9FCFF; border: 3px solid #8EB4E6; padding: 10px; margin:0 auto 5px;">
                <table class="plainlinks ombox ombox-notice" style="">
                    <tbody>
                    <tr>
                        <td style="border: none; padding: 0px; width: 1px;"></td>
                        <td class="ombox-text" style="">
                            <div style="text-align: center; font-weight:bold; padding: 0.3em 0; background-color: #8EB4E6">
                                <div style="font-size:150%;">
                                    Terms of Use
                                </div>
                                <div style="font-size:120%;"></div>
                            </div>
                            <div style="font-size:80%; text-align: left; font-style: italic; padding: 0.3em; margin-left: 75px; margin-right: 75px">
                                Disclaimer: This summary is not a part of the Terms of Use and is not a legal document.
                                It is simply a handy reference for understanding the full terms. Think of it as the
                                user-friendly interface to the legal language of our Terms of Use.
                            </div>
                            <div style="font-size:100%; text-align: left; padding: 0.3em;">
                                <p><b>Part of our mission is to</b>:
                                </p>
                                <ul>
                                    <li><b>Empower and Engage</b> people around the world to collect and develop
                                        educational content around vulnerabilities and either publish it under a free license or dedicate it to
                                        the public domain.
                                    </li>
                                    <li><b>Disseminate</b> this content effectively and globally, free of charge.</li>
                                </ul>
                                <p><br>
                                    <b>You are free to</b>:
                                </p>
                                <ul>
                                    <li><b>Read and Print</b> our content free of charge.</li>
                                    <li><b>Share and Reuse</b> our content under free and open licenses.
                                    </li>
                                    <li><b>Contribute To and Edit</b> our various vulnerability entries.</li>
                                </ul>
                                <p><br>
                                    <b>Under the following conditions</b>:
                                </p>
                                <ul>
                                    <li><b>Responsibility</b> – You take responsibility for your edits (since we only <i>host</i> your content). </li>
                                    <li><b>Civility</b> – You support a civil environment and do not harass other users.</li>
                                    <li><b>Lawful Behavior</b> – You do not violate copyright or other laws.</li>
                                    <li><b>No Harm</b> – You do not harm our technology infrastructure.</li>
                                    <li><b>Terms of Use and Policies</b> – You adhere to the below Terms of Use and to the applicable community policies when you visit our sites or participate in our communities.</li>
                                </ul>
                                <p><br>
                                    <b>With the understanding that</b>:
                                </p>
                                <ul>
                                    <li><b>You License Freely Your Contributions</b> – you generally must license your contributions and edits to our sites under a free and open license (unless your contribution is in the public domain).</li>
                                    <li><b>No Professional Advice</b> – the content of entries is for informational purposes only and does not constitute professional advice.</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2>Disclaimer</h2>
    <p><strong>This is not an officially supported Google product.</strong></p>

    <h2><span class="mw-headline" id="Our_Terms_of_Use">Our Terms of Use</span></h2>
    <p>Welcome to Vulncode-DB! Vulncode-DB, is a nonprofit project whose mission is to empower and engage people around
        the world to collect and develop content around security vulnerabilities under a <a href="https://en.wikipedia.org/wiki/en:Free_content"
                                                            class="extiw" title="w:en:Free content">free license</a> or
        in the public domain, and to disseminate it effectively and globally, free of charge.
    </p>

    <p>We provide the essential infrastructure and organizational framework for the
        development of content around vulnerabilities and other endeavors which serve this mission. We strive to make and keep educational and informational content from
        the project available on the internet free of charge, in perpetuity.
    </p>
    <p>We welcome you (“you” or the “user”) as a reader, editor, author, or contributor of the Vulncode-DB project, and
        we encourage you to join the Vulncode-DB community. Before you participate, however, we ask that you please read
        and agree to the following Terms of Use (“Terms of Use”).
    </p>
    <h2><span class="mw-headline" id="Overview">Overview</span></h2>
    <p>These Terms of Use tell you about our public services at Vulncode-DB, our relationship to you as a
        user, and the rights and responsibilities that guide us both. We want you to know that we host an incredible
        quantity of educational and informational content, all of which is contributed and made possible by users like
        yourself. Generally we do not contribute, monitor, or delete content (with the rare exception of policies like
        these Terms of Use or legal compliance for <a
                href="https://en.wikipedia.org/wiki/en:Digital_Millennium_Copyright_Act" class="extiw"
                title="w:en:Digital Millennium Copyright Act">DMCA</a> notices). This means that editorial control is in
        the hands of you and your fellow users who create and manage the content. We merely host this content.
    </p>
    <p>The community – the network of users who are constantly building and providing various project entries – are
        the principal means through which the goals of the mission are achieved. The community contributes to and helps
        govern our sites.
    </p>
    <p>Please be aware that you are legally responsible for all of your contributions, edits, and re-use of Vulncode-DB
        content under the laws where you live or where you view or edit content. This means it is important that you use caution when posting
        content. In light of this responsibility, we have some rules about what you cannot post, most of which is either
        for your own protection or for the protection of other users like yourself. Please keep in mind that the content
        we host is for general informational purposes only, so if you need expert advice for a particular security issue
        you should seek the help of a licensed or qualified professional.
        We also include other important notices and disclaimers, so please read these Terms of Use in their entirety.
    </p>
    <div id="hideTOCnumbers">
        <div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading"><input type="checkbox"
                                                                                            role="button"
                                                                                            id="toctogglecheckbox"
                                                                                            class="toctogglecheckbox"
                                                                                            style="display:none">
            <div class="toctitle" lang="en" dir="ltr"><h2 id="mw-toc-heading">Contents</h2><span
                    class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
            <ul>
                <li class="toclevel-1 tocsection-1"><a href="#Our_Terms_of_Use"> <span
                        class="toctext">Our Terms of Use</span></a></li>
                <li class="toclevel-1 tocsection-2"><a href="#Overview"> <span
                        class="toctext">Overview</span></a></li>
                <li class="toclevel-1 tocsection-3"><a href="#1._Our_Services"> <span
                        class="toctext">1.  Our Services</span></a></li>
                <li class="toclevel-1 tocsection-4"><a href="#2._Privacy_Policy"> <span
                        class="toctext">2. Privacy Policy</span></a></li>
                <li class="toclevel-1 tocsection-5"><a href="#3._Content_We_Host"> <span
                        class="toctext">3. Content We Host</span></a></li>
                <li class="toclevel-1 tocsection-6"><a href="#4._Refraining_from_Certain_Activities"><span
                        class="toctext">4. Refraining from Certain Activities</span></a></li>
                <li class="toclevel-1 tocsection-7"><a href="#5._Account_Security">
                    <span class="toctext">5. Account Security</span></a></li>
                <li class="toclevel-1 tocsection-9"><a href="#6._Licensing_of_Content">
                    <span class="toctext">6. Licensing of Content</span></a></li>
                <li class="toclevel-1 tocsection-10"><a href="#7._DMCA_Compliance">
                    <span class="toctext">7. DMCA Compliance</span></a></li>
                <li class="toclevel-1 tocsection-11"><a href="#8._Third-party_Websites_and_Resources"><span
                        class="toctext">8. Third-party Websites and Resources</span></a></li>
                <li class="toclevel-1 tocsection-12"><a href="#9._Management_of_Websites">
                    <span class="toctext">9. Management of Websites</span></a></li>
                <li class="toclevel-1 tocsection-14"><a href="#10._Termination"> <span
                        class="toctext">10. Termination</span></a></li>
                <li class="toclevel-1 tocsection-15"><a href="#11._Disputes_and_Jurisdiction">
                    <span class="toctext">11. Disputes and Jurisdiction</span></a></li>
                <li class="toclevel-1 tocsection-16"><a href="#12._Disclaimers"> <span
                        class="toctext">12. Disclaimers</span></a></li>
                <li class="toclevel-1 tocsection-17"><a href="#13._Limitation_on_Liability">
                    <span class="toctext">13. Limitation on Liability</span></a></li>
                <li class="toclevel-1 tocsection-18"><a href="#14._Modifications_to_these_Terms_of_Use">
                    <span class="toctext">14. Modifications to these Terms of Use</span></a>
                </li>
                <li class="toclevel-1 tocsection-19"><a href="#15._Other_Terms"> <span
                        class="toctext">15. Other Terms</span></a></li>
                <li class="toclevel-1 tocsection-20"><a href="#Thank_You!"> <span
                        class="toctext">Thank You!</span></a></li>
            </ul>
        </div>
    </div>
    <h2><span class="mw-headline" id="1._Our_Services">1.  Our Services</span></h2>
    <p>Vulncode-DB is dedicated to encouraging the growth, development and distribution of free information security related
        content for the public free of charge. Our role is to host some of the largest collaboratively edited data about vulnerabilities.
        However, we act only as a hosting service, maintaining the infrastructure and organizational framework that allows our users to build
        Vulncode-DB by contributing and editing content themselves. Because of our unique role, there are a
        couple of things you should be aware of when considering our relationship to you, the project, and the other
        users:
    </p>
    <ol style="list-style-type: lower-alpha">
        <li>
            <b>We do not take an editorial role:</b> Because Vulncode-DB is collaboratively edited, all of
            the content that we host is provided either by the available vulnerability feeds such as NVD/CVE or by users like yourself, and we do not take an editorial role.
            This means that we generally do not monitor or edit the content of the entries, and we do not take any
            responsibility for this content. Similarly, we do not endorse any opinions expressed via our services, and
            we do not represent or guarantee the truthfulness, accuracy, or reliability of any submitted community
            content. Instead, we simply provide access to the content that your fellow users have contributed and
            edited.
        </li>
        <li>
            <b>You are responsible for your own actions:</b> You are legally responsible for your edits and
            contributions on Vulncode-DB, so for your own protection you should exercise caution and avoid
            contributing any content that may result in criminal or civil liability under any applicable laws.
            Although we may not agree with such actions, we warn editors and contributors that authorities may seek to apply their country
            laws to you, including local laws where you live or where you view or edit content. We cannot offer any protection,
            guarantee, immunity or indemnification.
        </li>
    </ol>
    <h2><span class="mw-headline" id="2._Privacy_Policy">2. Privacy Policy</span></h2>
    <p>Vulncode-DB aims to store as little data as necessary about you to provide its service. For this reason, we provide
        access to the platform exclusively through third-party identity providers such as Google and ask for a minimum set of information such as the name, email and profile picture to be shared with Vulncode-DB.
        Because our services are used by people all over the world, personal information that we collect may be stored and processed in the United States of America
        or any other country in which we or our agents maintain facilities. By using our services, you consent to any
        such transfer of information outside your country.
    </p>
    <h2><span class="mw-headline" id="3._Content_We_Host">3. Content We Host</span></h2>
    <ol style="list-style-type: lower-alpha">
        <li>
            <b>You may find some material objectionable or erroneous:</b> Because we provide a wide array of content
            that is produced or gathered by fellow users, you may encounter material that you find offensive, erroneous,
            misleading, mislabeled, or otherwise objectionable. We therefore ask that you use common sense and proper
            judgment when using our services.
        </li>
        <li>
            <b>Our content is for general informational purposes only:</b> Although we host a great deal of information
            that pertains to professional topics such as information security issues, this content is
            presented for general informational purposes only. It should not be taken as professional advice. Please
            seek independent professional counseling from someone who is licensed or qualified in the applicable area in
            lieu of acting on any information, opinion, or advice contained in one of the project sites.
        </li>
    </ol>
    <h2><span class="mw-headline"
              id="4._Refraining_from_Certain_Activities">4. Refraining from Certain Activities</span></h2>
    <p>The Vulncode-DB project only exists because of the vibrant community of users like you
        who collaborate to write, edit, and curate the content. We happily welcome your participation in this community.
        We encourage you to be civil and polite in your interactions with others in the community, to act in good faith,
        and to make edits and contributions aimed at furthering the mission of the shared project.
    </p>
    <p>Certain activities, whether legal or illegal, may be harmful to other users and violate our rules, and some
        activities may also subject you to liability. Therefore, for your own protection and for that of other users,
        you may not engage in such activities on our sites. These activities include:
    </p>
    <dl>
        <dd><b>Harassing and Abusing Others</b></dd>
    </dl>
    <dl>
        <dd>
            <dl>
                <dd>
                    <ul>
                        <li>Engaging in harassment, threats, stalking, spamming, or vandalism; and</li>
                        <li>Transmitting chain mail, junk mail, or spam to other users.</li>
                    </ul>
                </dd>
            </dl>
        </dd>
    </dl>
    <dl>
        <dd><b>Violating the Privacy of Others</b></dd>
    </dl>
    <dl>
        <dd>
            <dl>
                <dd>
                    <ul>
                        <li>Infringing the privacy rights of others under the laws of the United States of America or
                            other applicable laws (which may include the laws where you live or where you view or edit
                            content);
                        </li>
                        <li>Soliciting personally identifiable information for purposes of harassment, exploitation,
                            violation of privacy, or any promotional or commercial purpose not explicitly approved by
                            Vulncode-DB; and
                        </li>
                        <li>Soliciting personally identifiable information from anyone under the age of 18 for an
                            illegal purpose or violating any applicable law regarding the health or well-being of
                            minors.
                        </li>
                    </ul>
                </dd>
            </dl>
        </dd>
    </dl>
    <dl>
        <dd><b>Engaging in False Statements, Impersonation, or Fraud</b></dd>
    </dl>
    <dl>
        <dd>
            <dl>
                <dd>
                    <ul>
                        <li>Intentionally or knowingly posting content that constitutes libel or defamation;</li>
                        <li>With the intent to deceive, posting content that is false or inaccurate;</li>
                        <li>Attempting to impersonate another user or individual, misrepresenting your affiliation with
                            any individual or entity, or using the username of another user with the intent to deceive;
                            and
                        </li>
                        <li>Engaging in fraud.</li>
                    </ul>
                </dd>
            </dl>
        </dd>
    </dl>
    <dl>
        <dd><b>Committing Infringement</b></dd>
    </dl>
    <dl>
        <dd>
            <dl>
                <dd>
                    <ul>
                        <li>Infringing copyrights, trademarks, patents, or other proprietary rights under applicable
                            law.
                        </li>
                    </ul>
                </dd>
            </dl>
        </dd>
    </dl>
    <dl>
        <dd><b>Misusing Our Services for Other Illegal Purposes</b></dd>
    </dl>
    <dl>
        <dd>
            <dl>
                <dd>
                    <ul>
                        <li>Posting child pornography or any other content that violates applicable law concerning child pornography;
                        </li>
                        <li>Posting or trafficking in obscene material that is unlawful under applicable law; and</li>
                        <li>Using the services in a manner that is inconsistent with applicable law.</li>
                    </ul>
                </dd>
            </dl>
        </dd>
    </dl>
    <dl>
        <dd><b>Engaging in Disruptive and Illegal Misuse of Facilities</b></dd>
    </dl>
    <dl>
        <dd>
            <dl>
                <dd>
                    <ul>
                        <li>Posting or distributing content that contains any viruses, malware, worms, Trojan horses,
                            malicious code, or other device that is intended to harm our technical infrastructure or
                            system or that of our users;
                        </li>
                        <li>Engaging in automated uses of the site that are abusive or disruptive of the services and
                            have not been approved by the Vulncode-DB community;
                        </li>
                        <li>Disrupting the services by placing an undue burden on a project website or the networks or
                            servers connected with a project website;
                        </li>
                        <li>Disrupting the services by inundating any of the project websites with communications or
                            other traffic that suggests no serious intent to use the project website for its stated
                            purpose;
                        </li>
                        <li>Knowingly accessing, tampering with, or using any of our non-public areas in our computer
                            systems without authorization; and
                        </li>
                        <li>Probing, scanning, or testing the vulnerability of any of our technical systems or networks
                            unless all the following conditions are met:
                        </li>
                    </ul>
                </dd>
            </dl>
        </dd>
    </dl>
    <dl>
        <dd>
            <dl>
                <dd>
                    <dl>
                        <dd>
                            <ul>
                                <li>such actions do not unduly abuse or disrupt our technical systems or networks;</li>
                                <li>such actions are not for personal gain (except for credit for your work);</li>
                                <li>you report any vulnerabilities to Vulncode-DB developers (or fix it yourself); and
                                </li>
                                <li>you do not undertake such actions with malicious or destructive intent.</li>
                            </ul>
                        </dd>
                    </dl>
                </dd>
            </dl>
        </dd>
    </dl>
    <p>We reserve the right to exercise our enforcement discretion with respect to the above terms.</p>
    <h2><span class="mw-headline" id="5._Account_Security">5. Account Security</span></h2>
    <p>You are responsible for safeguarding your account and should never disclose access to it to any third party.
    </p>
    <h2><span class="mw-headline" id="6._Licensing_of_Content">6. Licensing of Content</span></h2>
    <p>To grow the commons of free knowledge and free culture, all users contributing to the project are required to
        grant broad permissions to the general public to re-distribute and re-use their contributions freely, so long as
        that use is properly attributed and the same freedom to re-use and re-distribute is granted to any derivative
        works. In keeping with our goal of providing free information to the widest possible audience, we require that
        when necessary all submitted content be licensed so that it is freely reusable by anyone who cares to access it.
    </p>
    <p>You agree to the following licensing requirements:
    </p>
    <ol style="list-style-type: lower-alpha">
        <li>
            <b>Text to which you hold the copyright:</b> When you submit text to which you hold the copyright, you agree
            to license it under:
            <ul>
                <li><a rel="nofollow" class="external text" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative
                    Commons Attribution-ShareAlike 3.0 Unported License</a> (“CC BY-SA”), and
                </li>
                <li><a rel="nofollow" class="external text" href="//www.gnu.org/copyleft/fdl.html">GNU Free
                    Documentation License</a> (“GFDL”) (unversioned, with no invariant sections, front-cover texts, or
                    back-cover texts).
                </li>
            </ul>
            <p>(Re-users may comply with either license or both.)</p>
            <p>Please note that these licenses do allow commercial uses of your contributions, as long as such uses are
                compliant with the terms.
            </p>
        </li>
        <li><b>Attribution:</b> Attribution is an important part of these licenses. We consider it giving credit where
            credit is due – to authors like yourself. When you contribute text, you agree to be attributed in any of the
            following fashions:
            <ol style="list-style:lower-roman">
                <li>
                    Through hyperlink (where possible) or URL to the entry to which you contributed (since each
                    entry might have a history page that lists all authors and editors);
                </li>
                <li>
                    Through hyperlink (where possible) or URL to an alternative, stable online copy that is freely
                    accessible, which conforms with the license, and which provides credit to the authors in a manner
                    equivalent to the credit given on the project website; or
                </li>
                <li>
                    Through a list of all authors (but please note that any list of authors may be filtered to exclude
                    very small or irrelevant contributions).
                </li>
            </ol>
        </li>
        <li>
            <b>Importing text:</b> You may import text that you have found elsewhere or that you have co-authored with
            others, but in such case you warrant that the text is available under terms that are compatible with the CC
            BY-SA 3.0 license (or, as explained above, another license when exceptionally required by the project
            edition or feature)("CC BY-SA"). Content available only under GFDL is not permissible.
            <p>You agree that, if you import text under a CC BY-SA license that requires attribution, you must credit
                the author(s) in a reasonable fashion. The attribution requirements are sometimes too
                intrusive for particular circumstances (regardless of the license), and there may be instances where the
                Vulncode-DB community decides that imported text cannot be used for that reason.</p></li>
        <li>
            <b>Non-text media:</b> The platform currently does not support custom non-text media.
        </li>
        <li>
            <b>No revocation of license:</b> Except as consistent with your license, you agree that you will not
            unilaterally revoke or seek invalidation of any license that you have granted under these Terms of Use for
            text content or non-text media contributed to the Vulncode-DB project, even if you terminate use of our services.
        </li>
        <li>
            <b>Public domain content:</b> Content that is in the public domain is welcome! It is important however that
            you confirm the public domain status of the content under the law of the United States of America as well as
            the laws of any other countries. When you contribute content that is in the public domain, you warrant that
            the material is actually in the public domain.
        </li>
        <li>
            <b>Re-use:</b> Re-use of content that we host is welcome, though exceptions exist for content contributed
            under "fair use" or similar exemptions under copyright law. Any re-use must comply with the underlying
            license(s).
            <p>When you re-use or re-distribute a text page developed by the Vulncode-DB community, you agree to
                attribute the authors in any of the following fashions:</p>
            <ol style="list-style:lower-roman">
                <li>
                    Through hyperlink (where possible) or URL to the page or pages that you are re-using;
                </li>
                <li>
                    Through hyperlink (where possible) or URL to an alternative, stable online copy that is freely
                    accessible, which conforms with the license, and which provides credit to the authors in a manner
                    equivalent to the credit given on the website; or
                </li>
                <li>
                    Through a list of all authors (but please note that any list of authors may be filtered to exclude
                    very small or irrelevant contributions).
                </li>
            </ol>
            <p>If the text content was imported from another source, it is possible that the content is licensed under a
                compatible CC BY-SA license but not GFDL (as described in “Importing text,” above). In that case, you
                agree to comply with the compatible CC BY-SA license and do not have the option to re-license it under
                GFDL. To determine the license that applies to the content that you seek to re-use or re-distribute, you
                should review the page footer, page history, and discussion page.
            </p>
            <p>In addition, please be aware that text that originated from external sources such as NVD/CVE and was imported into the
                project may be under a license that attaches additional attribution requirements. Users agree to
                indicate these additional attribution requirements clearly. Such requirements are indicated in this Terms of Use.
            </p>
        </li>
        <li>
            <b>Modifications or additions to material that you re-use:</b> When modifying or making additions to text
            that you have obtained from a Vulncode-DB entry, you agree to license the modified or added content under CC
            BY-SA 3.0 or later (or, as explained above, another license when exceptionally required by the specific
            project edition or feature).

            You agree to clearly indicate that the original work has been modified. If you are re-using text content,
            it is sufficient to indicate in the page history that you made a change to the imported text.
            For each copy or modified version that you distribute, you agree to include a licensing notice stating which
            license the work is released under, along with either a hyperlink or URL to the text of the license or a copy of the license itself.
        </li>
    </ol>
    <h2><span class="mw-headline" id="7._DMCA_Compliance">7. DMCA Compliance</span></h2>
    <p>Vulncode-DB wants to ensure that the content that we host can be re-used by other users without fear of liability
        and that it is not infringing the proprietary rights of others. In fairness to our users, as well as to other
        creators and copyright holders, our policy is to respond to notices of alleged infringement that comply with the
        formalities of the Digital Millennium Copyright Act (DMCA). Pursuant to the DMCA, we will terminate, in
        appropriate circumstances, users and account holders of our system and network who are repeat infringers.
    </p>
    <p>However, we also recognize that not every takedown notice is valid or in good faith. In such cases, we strongly
        encourage users to file counter-notifications when they appropriately believe a DMCA takedown demand is invalid
        or improper. For more information on what to do if you think a DMCA notice has been improperly filed, you may
        wish to consult the <a rel="nofollow" class="external text" href="//www.chillingeffects.org/">Chilling
            Effects</a> website.
    </p>
    <p>If you are the owner of content that is being improperly used on one of the project without your permission, you
        may request that the content be removed under the DMCA. To make such a request, please email us at
        <tt>rhabalov</tt><span class="nowrap"><img alt="@"
                                                   src="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/At_sign.svg/15px-At_sign.svg.png"
                                                   decoding="async" title="@" width="15" height="15"
                                                   srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/At_sign.svg/23px-At_sign.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/At_sign.svg/30px-At_sign.svg.png 2x"
                                                   data-file-width="145"
                                                   data-file-height="145"></span><tt>gmail.com</tt>.
    </p>
    <h2><span class="mw-headline"
              id="8._Third-party_Websites_and_Resources">8. Third-party Websites and Resources</span></h2>
    <h3>Third-party Data</h3>
    <p>This project builds upon data provided by the CVE and NVD data sets.</p>
    <h4>Common Vulnerabilities and Exposures (CVE®)</h4>
    <p>The <a href="https://cve.mitre.org/" rel="nofollow">CVE®</a> is maintained by the Mitre Corporation.
        Please see the Mitre CVE®'s <a href="https://cve.mitre.org/about/termsofuse.html" rel="nofollow">Terms
            of use</a>:</p>
    <pre><code>CVE Usage: MITRE hereby grants you a perpetual, worldwide, non-exclusive,
    no-charge, royalty-free, irrevocable copyright license to reproduce, prepare
    derivative works of, publicly display, publicly perform, sublicense, and
    distribute Common Vulnerabilities and Exposures (CVE®). Any copy you make for
    such purposes is authorized provided that you reproduce MITRE's copyright
    designation and this license in any such copy.
    </code></pre>
    <h4>National Vulnerabilitiy Database (NVD)</h4>
    <p>The <a href="https://nvd.nist.gov/" rel="nofollow">National Vulnerability Database</a> is maintained by
        the U.S. government.
        Please see the NVD's <a href="https://nvd.nist.gov/general/faq#1f2488ea-0492-45a7-ae5b-ad29bc31dd05"
                                rel="nofollow">FAQ</a>:</p>
    <pre><code>All NVD data is freely available from our XML Data Feeds. There are no fees,
    licensing restrictions, or even a requirement to register. All NIST
    publications are available in the public domain according to Title 17 of the
    United States Code. Acknowledgment of the NVD  when using our information is
    appreciated. In addition, please email nvd@nist.gov to let us know how the
    information is being used.
    </code></pre>

    <p>You are solely responsible for your use of any third-party websites or resources. Although the project contain
        links to third-party websites and resources, we do not endorse and are not responsible or liable for their
        availability, accuracy, or the related content, products, or services (including, without limitation, any
        viruses or other disabling features), nor do we have any obligation to monitor such third-party content.
    </p>
    <h2><span class="mw-headline" id="9._Management_of_Websites">9. Management of Websites</span></h2>
    <p>The community has the primary role in creating and enforcing policies applying to Vulncode-DB.
        At Vulncode-DB, we rarely intervene in community decisions about policy and its enforcement. In
        an unusual case, the need may arise, or the community may ask us, to address an especially problematic user
        because of significant project disturbance or dangerous behavior. In such cases, we reserve the right, but do
        not have the obligation to:
    </p>
    <ul>
        <li>Investigate your use of the service (a) to determine whether a violation of these Terms of Use, or other applicable law or policy has occurred,
            or (b) to comply with any applicable law, legal process, or appropriate governmental request;
        </li>
        <li>Detect, prevent, or otherwise address fraud, security, or technical issues or respond to user support requests;
        </li>
        <li>Refuse, disable, or restrict access to the contribution of any user who violates these Terms of Use;</li>
        <li>Ban a user from editing or contributing or block a user's account or access for actions violating these
            Terms of Use, including repeat copyright infringement;
        </li>
        <li>Take legal action against users who violate these Terms of Use (including reports to law enforcement
            authorities); and
        </li>
        <li>Manage otherwise the project websites in a manner designed to facilitate their proper functioning and
            protect the rights, property, and safety of ourselves and our users, licensors, partners, and the public.
        </li>
    </ul>
    <p>In the interests of our users and the project, in the extreme circumstance that any individual has had his or
        her account or access blocked under this provision, they are prohibited from creating or using another
        account on or seeking access to the project, unless we provide explicit permission. Without limiting the
        authority of the community, Vulncode-DB itself will not ban a user from editing or contributing
        or block a user's account or access solely because of good faith criticism that does not result in actions
        otherwise violating these Terms of Use or community policies.
    </p>
    <p>The Vulncode-DB community and its members may also take action when so allowed by the community, including but not limited to warning, investigating,
        blocking, or banning users who violate those policies. You agree to comply with the final decisions of project administrators.
    </p>
    <p>The blocking of an account or access or the banning of a user under this provision shall be in accordance with
        Section 8 of these Terms of Use.
    </p>
    <h2><span class="mw-headline" id="10._Termination">10. Termination</span></h2>
    <p>Though we hope you will stay and continue to contribute to the project, you can stop using our services any
        time. In certain (hopefully unlikely) circumstances it may be necessary for either ourselves or the Vulncode-DB
        community or its members to terminate part or all of our services, terminate these
        Terms of Use, block your account or access, or ban you as a user. If your account or access is blocked or
        otherwise terminated for any reason, your public contributions will remain publicly available (subject to
        applicable policies), and, unless we notify you otherwise, you may still access our public pages for the sole
        purpose of reading publicly available content on the project. In such circumstances, however, you may not be
        able to access your account or settings. We reserve the right to suspend or end the services at any time, with
        or without cause, and with or without notice. Even after your use and participation are banned, blocked or
        otherwise suspended, these Terms of Use will remain in effect with respect to relevant provisions, including
        Sections 1, 3, 4, 6, 8-13, and 15.
    </p>
    <div style="background: #FFFFCD;">
        <h2><span class="mw-headline" id="11._Disputes_and_Jurisdiction">11. Disputes and Jurisdiction</span></h2>
        <p><i>Highlighted for emphasis</i>
        </p>
        <p>We hope that no serious disagreements arise involving you, but, in the event there is a dispute, we encourage
            you to seek resolution through the dispute resolution procedures or mechanisms provided by the project.
        </p>
        <p>To ensure that disputes are dealt with soon after they arise, you agree that regardless of any statute or law
            to the contrary, any claim or cause of action you might have arising out of or related to use of our
            services or these Terms of Use must be filed within the applicable statute of limitations or, if earlier,
            one (1) year after the pertinent facts underlying such claim or cause of action could have been discovered
            with reasonable diligence (or be forever barred).
        </p>
        <h2><span class="mw-headline" id="12._Disclaimers">12. Disclaimers</span></h2>
        <p><i>Highlighted for emphasis</i>
        </p>
        <p>At Vulncode-DB, we do our best to provide educational and informational content to a very wide
            audience, but your use of our services is at your sole risk. We provide these services on an "as is" and "as
            available" basis, and we expressly disclaim all express or implied warranties of all kinds, including but
            not limited to the implied warranties of merchantability, fitness for a particular purpose, and
            non-infringement. We make no warranty that our services will meet your requirements, be safe, secure,
            uninterrupted, timely, accurate, or error-free, or that your information will be secure.
        </p>
        <p>We are not responsible for the content, data, or actions of third parties, and you release us from any claims and damages,
            known and unknown, arising out of or in any way connected with any claim you have against any such third parties.
            No advice or information, whether oral or written, obtained by you from us or through or from our services creates any warranty not expressly stated
            in these Terms of Use.
        </p>
        <p>Any material downloaded or otherwise obtained through your use of our services is done at your own discretion
            and risk, and you will be solely responsible for any damage to your computer system or loss of data that
            results from the download of any such material. You agree that we have no responsibility or liability for
            the deletion of, or the failure to store or to transmit, any content or communication maintained by the
            service. We retain the right to create limits on use and storage at our sole discretion at any time with or
            without notice.
        </p>
        <p>Some states or jurisdictions do not allow the types of disclaimers in this section, so they may not apply to
            you either in part or in full depending on the law.
        </p>
        <h2><span class="mw-headline" id="13._Limitation_on_Liability">13. Limitation on Liability</span></h2>
        <p><i>Highlighted for emphasis</i>
        </p>
        Vulncode-DB will not be liable to you or to any other party for any direct, indirect, incidental, special,
        consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use,
        data, or other intangible losses, regardless of whether we were advised of the possibility of such damage. In no
        event shall our liability exceed one thousand U.S. dollars (USD 1000.00) in aggregate. In the case that
        applicable law may not allow the limitation or exclusion of liability or incidental or consequential damages,
        the above limitation or exclusion may not apply to you, although our liability will be limited to the fullest
        extent permitted by applicable law.
    </div>
    <h2><span class="mw-headline"
              id="14._Modifications_to_these_Terms_of_Use">14. Modifications to these Terms of Use</span></h2>
    <p>Just as the Vulncode-DB community's input is essential for the growth and maintenance of the project, we believe
        that community input is essential for these Terms of Use to properly serve our users. It is also essential for a
        fair contract. Therefore, we will provide these Terms of Use, as well as any substantial future revisions of
        these Terms of Use, to the community for modification via the project's <a href="https://github.com/google/vulncode-db/blob/master/templates/terms_text.html">GitHub repository</a>.
    </p>
    <p>We ask that you please periodically review the most up-to-date version of these Terms of Use. Your continued use of our services after
        the new Terms of Use become official following the notice and review period constitutes an acceptance of these
        Terms of Use on your part. For the protection of Vulncode-DB and other users like yourself, if
        you do not agree with our Terms of Use, you cannot use our services.
    </p>
    <h2><span class="mw-headline" id="15._Other_Terms">15. Other Terms</span></h2>
    <p>These Terms of Use do not create an employment, agency, partnership, or joint venture relationship between you
        and us, Vulncode-DB. If you have not signed a separate agreement with us, these Terms of Use are
        the entire agreement between you and us. If there is any conflict between these Terms of Use and a signed
        written agreement between you and us, the signed agreement will control.
    </p>
    <p>You agree that we may provide you with notices, including those regarding changes to the Terms of Use, by email,
        regular mail, or postings on project websites.
    </p>
    <p>If in any circumstance, we do not apply or enforce any provision of these Terms of Use, it is not a waiver of
        that provision.
    </p>
    <p>You understand that, unless otherwise agreed to in writing by us, you have no expectation of compensation for any
        activity, contribution, or idea that you provide to us, the community, or the Vulncode-DB project.
    </p>
    <p>Notwithstanding any provision to the contrary in these Terms of Use, we (Vulncode-DB) and you
        agree not to modify the applicable terms and requirements of any free license that is employed on the project
        or project editions when such free license is authorized by these Terms of Use.
    </p>
    <p>These Terms of Use were written in English (U.S.). While we hope that translations of these Terms of Use are
        accurate, in the event of any differences in meaning between the original English version and a translation, the
        original English version takes precedence.
    </p>
    <p>If any provision or part of a provision of these Terms of Use is found unlawful, void, or unenforceable, that
        provision or part of the provision is deemed severable from these Terms of Use and will be enforced to the
        maximum extent permissible, and all other provisions of these Terms of Use will remain in full force and effect.
    </p>
    <h2><span id="Thank_You.21"></span><span class="mw-headline" id="Thank_You!">Thank You!</span></h2>
    <p>We appreciate your taking the time to read these Terms of Use, and we are very happy to have you contributing to
        the project and using our services. Through your contributions, you are helping to build something really big –
        not only an important collection of collaboratively edited reference project that provides education and
        information to millions who might otherwise lack access, but also a vibrant community of like-minded and engaged
        peers, focused on a very noble goal.
    </p>
</div>
</div>
</div>