{% extends "vuln_view.html" %}
{% block vulnerability_content %}
  {% set vuln_id = vulnerability_details.id %}
  {% set vuln_view = vulnerability_details.vulnerability_view %}
  {% set master_commit = vuln_view.master_commit %}
  {% if master_commit and master_commit.comments|length > 0 %}
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card flex-md-row mb-4 box-shadow">
          <div class="card-body">
            <b><a href="{{ url_for('vuln.vuln_view_details', vuln_id=vuln_id) }}" class="text-info">
            <i class="fa fa-search"></i> Detailed repository view</a></b>
            <hr />
            {% for comment in master_commit.comments|sort(attribute='sort_pos') %}
              <div class="markdown_comment comment_widget card pt-3 px-3 shadow-textarea mb-1">{{ comment.text }}</div>
              <script src="{{ url_for('serve_static', path='js/embed.js', sid=comment.id, vuln_id=vuln_id) }}"></script>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
