{% extends "vuln_view.html" %}
{% block vulnerability_content %}
  {% set vuln_id = vulnerability_details.id %}
  {% set vuln_view = vulnerability_details.vulnerability_view %}
  {% set master_commit = vuln_view.master_commit %}
  {% if master_commit.comments|length > 0 %}
  {#
    Deprecated check: {% if vulnerability_details.hasCustomData() %}
  #}
    <div>
      <div class="col-md-12">
        <div class="card flex-md-row mb-4 box-shadow">
          <div class="card-body">
            <a href="{{ url_for('vuln.vuln_view_details', vuln_id=vuln_id) }}">Goto detailed repository view</a><br />
            <hr />
            {% for comment in master_commit.comments|sort(attribute='sort_pos') %}
            {{ comment.text }}
            <script src="{{ url_for('serve_static', path='js/embed.js', sid=comment.id, vuln_id=vuln_id) }}">
            </script>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% else %}
  <div class="col-md-12">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 h-100">
      <div class="card-body">
        This entry was not annotated yet.<br />
        <a href="{{ url_for('vuln.vuln_view_details', vuln_id=vuln_id) }}">Show me the patch and repository details</a><br />
        <hr />
        Alternatively, please help out by adding data:
        <a href="{{ url_for('vuln.vuln_editor', vuln_id=vuln_id) }}">
          <button type="button" class="btn btn-primary">Annotate now</button>
        </a>

      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}